<header class="cusNav my-header">
        <a href="/" class="cusNav my-logo">
        <span><b>Garden</b>Eats</span>
        </a>
        <nav class="container navbar navbar-static-top">
            <div class="navbar-header">
              <a class="cusNav navbar-toggle collapsed dr" data-toggle="collapse" data-target="#my-menu" >
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-th"></span>
              </a>                                        
              <div class="cusNav my-navbar-left ">
                  <div class="collapse navbar-collapse " id="my-menu">
                    <ul class="cusNav nav navbar-nav">
                      <li><a href="/">Inicio</a></li>
                      <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" > Servicios <span class="caret"> </span></a>         	
                      <ul class="cusNav dropdown-menu user-menu">
                        {{#if isAdm}}
                        <li><a href="/restaurants" >Restaurantes</a></li>
                        {{/if}}
                        <li><a href="#" >Productos</a></li>
                        <li><a href="#" >Pedidos</a></li>
                        <li><a href="#" >Calificación</a></li>
                    <!--  <li><a class="divider" ></a></li>
                       <li><a href="#" >Item #3</a></li> -->
                      </ul>
                      <li><a href="#">Contactos</a></li>
                    </ul>
                    </li> 
                    <ul class="cusNav dropdown-menu nav  navbar-nav" role = "my-menu" aria-labelledby="dropdownMenu">
                    	<li><a href="#" tabindex="-1">Sucursal</a></li>
                    </ul>
                  </div>
              </div>
            </div>
            {{#if login}}
            <div class="">
              <ul class="cusNav nav navbar-nav pull-right">
					      <li><a href="#"> {{loggedUser.username}} </a></li>
                <li><a href="/logout">Salir</a></li>
              </ul>
            </div>
            {{/if}}
        </nav>
</header>