<div class="my-content"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> <strong>Productos</strong></h1>
                <p>Añada los productos de su gusto al carrito</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10">			
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <div class="col-md-6">
                            Dolor								
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="col-md-4">Añadir a Carrito</a> 
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="col-md-6">
                            Cariai
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="col-md-4">Añadir a Carrito</a> 
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="col-md-6">
                            hola
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="col-md-4">Añadir a Carrito</a> 
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <div class="col-md-6">
                            lloo
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="col-md-4">Añadir a Carrito</a> 
                        </div>
                    </li>
                </ul>									
            </div>		
        </div>				 								
    </div>
</div>