<div class="my-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 myform-cont">
                <div class="myform-top">
                    <div class="myform-top-left">
                        <h3><strong>Productos</strong></h3>	
                        <p>Ingrese los datos requeridos</p>		
					</div>
				</div>
                <div class="myform-bottom"> 
                    <form role="form" action="" method="post" class="">
                        <div class="form-group">
                            <input type="text" name="nameproduc" placeholder="Nombre del Producto" class="form-control" id="nameproduc">
                        </div>
                        <div class="form-group">
                            <input type="text" name="precio" placeholder="Precio del Producto" class="form-control" id="precio">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Descripcion" placeholder="Descripcion" class="form-control" id="email">
                        </div>
                        <button type="submit" class="mybtn btn btn-success">Agregar</button>	
                    </form>
                </div>
            </div>					
		</div>
	</div>
</div>