<div class="my-content"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> <strong>Sucursales</strong></h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10">			
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <div class="col-md-6">
                            Dolor
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="col-md-4">Editar</a> <a class="col-md-4" href="#">Editar Horarios</a> <a class="col-md-4" href="#" > Eliminar</a>
                        </div>
                    </li>
                </ul>									
            </div>		
        </div>				 								
    </div>
</div>