<div class="my-content"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><strong>Restaurantes</strong></h1>
                {{#if hasErrors}}
                    {{#each error}}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
							</button>
                            {{ this }}
                        </div>
                    {{/each}}
				{{/if}}
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-6">
                    <a href="/addRestaurant" class="btn btn-primary">Agregar restaurante</a>
                </div>
            </div>
            <br>
            {{#if noRest}}
            <h1>No hay restaurantes registrados en este momento.</h1>
            {{else}}
            <div class="row">
                <div class="col-md-10">			
                    <ul class="list-group">
                    {{#each rests}}
                        <li class="list-group-item clearfix">
                            <div class="col-md-8 col-xs-12">
                                {{ this.restName }}
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <a class="col-md-4 col-md-offset-4" href="/{{this._id}}/edit">Editar</a>
                                <a class="col-md-4" href="#" > Eliminar</a>
                            </div>
                        </li>		
                    {{/each}}
                    </ul>									
                </div>		
            </div>
            {{/if}}
       </div>	 								
    </div>
</div>